body{
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", sans-serif;
}

header{
  width: 100vw;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  }

@media screen and (max-width:1500px) {
  .nav{
    display: none;
  }

  .menu{
    display: none;
  }
}

@media screen and (max-width:768px) {
  .header-nav{
    display: none;
  }
  .nav a{
  text-decoration: none;
  color: blue
  }
  .nav{
    display: block;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    left: -100%;
    background: #eee;
    transition: .7s;
    text-align: center;
  }
  .nav ul{
    padding-top: 80px;
  }
  .nav ul li{
    list-style-type: none;
    margin-top: 50px;
  }
  .menu {
    display: inline-block;
    width: 45px;
    height: 40px;
    cursor: pointer;
    position: relative;
    left: 20px;
    top: 20px;
    margin-right: 50px;
    margin-top: -30px;
  }
  .menu__line--top,
  .menu__line--middle,
  .menu__line--bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }
  .menu__line--top {
    top: 0;
  }
  .menu__line--middle {
    top: 18px;
  }
  .menu__line--bottom {
    bottom: 0;
  }
  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
  .in{
    transform: translateX(100%);
  }
}

.header-ttl{
  display: inline-block;
  font-size: 25px;
  line-height: 70px;
  margin-left: 30px;
  text-decoration: none;
  color:black;
  font-weight: bold;
}

.header-ttl:hover{
  opacity: 0.7;
}
.header-li a:hover{
  opacity: 0.7;
}

.header-nav{
  list-style: none;
  margin-right: 30px;
}

.header-li{
  display: inline-block;
  margin: 0 15px;
}

.header-li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 15px;
}


.eye-catch{
  width: 100vw;
  height: 80vh;
  background-image: url(../img/mv.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.eye-catch-ttl{
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin: 0 50px 20px;
  font-family:"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", sans-serif;
}

.eye-catch-txt{
  color: white;
}

.top-desc{
  display: block;
  width: 100vw;
  background-color: black;
}

.top-desc__ttl{
  width: 85%;
  font-size: 30px;
  font-weight: bold;
  margin: 0 auto 30px;
  padding: 90px 0 0;
  color: white;
}

.top-desc__text{
  width: 85%;
  margin: 0 auto;
  font-size: 16px;
  color: white;
  line-height: 25px;
  padding-bottom: 80px;
}


.main-service{
  width: 100vw;
}

.main-service__ttl{
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 70px 0 10px;
  font-size: 30px;
}

.main-service__cards{
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-service__card{
  width: 49%;
  margin-top: 20px;
}

@media screen and (max-width: 768px){
  .main-service__card {
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.main-service__card img{
  width: 100%;
}

.main-service__card--ttl{
  font-size: 18px;
  font-weight: 600;
  margin: 12px 0 8px;
}

.main-service__card--text{
  line-height: 25px;
  font-size: 16px;
}

.main-service__menu{
  display: block;
  width: 300px;
  margin: 30px auto 50px;
  height: 45px;
  background-color: rgb(209, 2, 2);
  color: white;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  line-height: 45px;
  font-weight: bold;
}

.main-service__menu:hover{
  opacity: 0.8;
}

.news{
  width: 100vw;
  background-color: black;
  height: 450px;
}

.news-top{
  width: 85%;
  margin: 0 auto;
  padding: 100px 0 25px;
  display: flex;
  justify-content: space-between;
}

.news-ttl{
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.news-menu{
  width: 160px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: rgb(216, 1, 1);
  font-weight: bold;
  font-size: 14px;
}

.news-menu:hover{
  opacity: 0.8;
}

.news-li{
  width: 85%;
  margin: 0 auto;
}

.news-content{
  display: flex;
  background-color: white;
  height: 70px;
  margin-bottom: 10px;
  text-decoration: none;
}

.news-content:hover{
  opacity: 0.8;
}

.news-content__date{
  line-height: 70px;
  padding-left: 25px;
  color: black;
}

.news-content__ttl{
  line-height: 70px;
  padding-left: 15px;
  color: black;
  font-weight: bold;
}

.blog{
  width: 100vw;
}

.blog-ttl{
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 90px 0 30px;
  font-size: 30px;
  font-weight: bold;
}

.blog-contents{
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-content{
  width: 32%;
}

@media screen and (max-width:768px) {
  .blog-content{
    width: 85%;
    margin: 0 auto 30px;
  }
}

.blog-content img{
  width: 100%;
}

.blog-content-date{
  margin: 18px 0 10px;
  font-size: 14px;
}

.blog-content-ttl{
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.blog-content-menu{
  display: block;
  width: 23%;
  margin: 50px auto 50px;
  height: 45px;
  background-color: rgb(209, 2, 2);
  color: white;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  line-height: 45px;
  font-weight: bold;
}

.blog-content-menu:hover{
  opacity: 0.8;
}

.info{
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.info-summary{
  width: 50%;
  background-color: rgb(218, 0, 0);
  height: 80%;
  display: inline-block;
  text-align: center;
  line-height: 240px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.info-summary:hover{
  opacity: 0.8;
}

.info-concept{
  width: 50%;
  background-color: rgb(0, 0, 0);
  height: 80%;
  display: inline-block;
  text-align: center;
  line-height: 240px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.info-concept:hover{
  opacity: 0.8;
}

.form{
  width: 100vw;
  height: 300px;
  background-color: rgb(240, 240, 240);
  text-align: center;
}

.form-ttl{
  width: 100%;
  padding-top: 100px;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: bold;
}

.form-text{
  width: 100%;
}

.form-menu{
  width: 300px;
  height: 45px;
  line-height: 45px;
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: rgb(216, 1, 1);
  font-weight: bold;
  font-size: 14px;
  margin-top: 35px;
}

.form-menu:hover{
  opacity: 0.8;
}


footer{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.footer-copyright{
  margin-left: 5%;
  color: white;
}

.footer-nav{
  margin-right: 3%;
  display: flex;
}
.footer-nav-li{
  list-style: none;
  font-size: small;
  color: white;
  margin: 20px 0;
}
.footer-nav-li::after{
  content: "|";
  display: inline-block;
  margin: 10px;
}

@media screen and (max-width:768px) {
  .footer-nav{
    text-align: center;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    margin: 20px 30px 20px 0;
  }
  .footer-nav-li::after{
    display: none;
  }
  .footer-nav-li{
    margin: 7px 0;
  }
  .footer-copyright{
    width: 50%;
    text-align: center;
  }
}

.footer-nav-li a{
  text-decoration: none;
  color: white;
}

.footer-nav-li a:hover{
  opacity: 0.6;
}


