body{
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", sans-serif;
}

header{
  width: 100vw;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.header-ttl{
  display: inline-block;
  font-size: 25px;
  line-height: 70px;
  margin-left: 30px;
  text-decoration: none;
  color:black;
  font-weight: bold;
}

.header-nav{
  list-style: none;
  margin-right: 30px;
}

.header-li{
  display: inline-block;
  margin: 0 15px;
}

.header-li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 15px;
}
.header-ttl:hover{
  opacity: 0.7;
}
.header-li a:hover{
  opacity: 0.7;
}


.service-contents{
  width: 85%;
  height: 900px;
  margin: 50px auto;
}

.service-content{
  width: 100%;
  height: 225px;
  border-top: black solid 1px;
  display: flex;
}

.service-content--bottom{
  width: 100%;
  height: 225px;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  display: flex;
}

.service-content--bottom img{
  height: 75%;
  float: left;
  margin: 20px 0;
}

.service-content img{
  height: 75%;
  float: left;
  margin: 20px 0;
}

.service-content__ttl{
  display: inline-block;
  margin-top: 20px;
  padding-left: 50px;
  font-size: 23px;
  font-weight: bold;
}

.service-content__text{
  padding: 10px 0 0 50px;
}

.eye-catch{
  width: 100vw;
  height: 250px;
  background: url(../img/mv.png) no-repeat center / cover;
  color: white;
  text-align: center;
  line-height: 250px;
  font-size: 30px;
  font-weight: bold;
  margin-top: 70px;
}

.form{
  width: 100vw;
  height: 300px;
  background-color: rgb(240, 240, 240);
  text-align: center;
}

.form-ttl{
  width: 100%;
  padding-top: 100px;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: bold;
}

.form-text{
  width: 100%;
}

.form-menu{
  width: 300px;
  height: 45px;
  line-height: 45px;
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: rgb(216, 1, 1);
  font-weight: bold;
  font-size: 14px;
  margin-top: 35px;
}

.form-menu:hover{
  opacity: 0.8;
}


footer{
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.footer-copyright{
  margin-left: 5%;
  color: white;
}

.footer-nav{
  margin-right: 3%;
  display: flex;
}

.footer-nav-li{
  list-style: none;
  font-size: small;
  color: white;
}

.footer-nav-li a{
  text-decoration: none;
  color: white;
}

.footer-nav-li::after{
  content: "|";
  display: inline-block;
  margin: 10px;
}

.footer-nav-li a:hover{
  opacity: 0.6;
}
